.menu {
  margin: 4rem auto;

  @media screen and (max-width: 768px) {
    margin: 3rem auto;
  }

  .btn-container {
    width: 90vw;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto 4rem;
    align-items: center;
    justify-content: center;

    @media screen and (max-width: 768px) {
      margin: 0 auto 2rem;
    }

    .btn {
      font-size: 1rem;
      margin: 0 0.5rem;
      color: var(--gold);
      letter-spacing: 1px;
      margin-bottom: 1rem;
      border-radius: 0.5rem;
      background: transparent;
      padding: 0.375rem 0.75rem;
      text-transform: capitalize;
      border: 1px solid var(--gold);
      transition: var(--transition);

      @media screen and (max-width: 768px) {
        font-size: 0.875rem;
      }

      &:hover {
        color: white;
        background: var(--gold);
      }
    }
  }

  .menu-container {
    width: 90vw;
    display: grid;
    gap: 3rem;
    max-width: 70rem;
    margin: 2rem auto;
    justify-items: center;
    grid-template-columns: 1fr 1fr;

    @media screen and (max-width: 1200px) {
      grid-template-columns: 1fr;
    }

    @media screen and (max-width: 768px) {
      margin: 0 auto;
    }
  }

  .menu-item {
    display: grid;
    max-width: 40rem;
    gap: 0 1.25rem;
    grid-template-columns: 225px 1fr;

    @media screen and (max-width: 768px) {
      gap: 1rem 2rem;
      max-width: 25rem;
      grid-template-columns: 1fr;
    }

    .photo {
      width: 100%;
      height: 150px;
      object-fit: cover;
      border-radius: 0.5rem;
      border: 0.25rem solid var(--gold);

      @media screen and (max-width: 1200px) {
        height: 175px;
      }

      @media screen and (max-width: 768px) {
        height: 200px;
      }
    }

    .item-info {
      header {
        display: flex;
        justify-content: space-between;
        border-bottom: 0.5px dotted var(--grayish-blue);
      }

      h4 {
        margin-bottom: 0.5rem;
        text-transform: capitalize;
      }

      .price {
        color: var(--gold);
        font-family: sans-serif;
      }

      .item-text {
        line-height: 1.5;
        margin-bottom: 0;
        padding-top: 1rem;
      }
    }
  }
}
