.questions {
  line-height: 1.45;

  &-container {
    width: 85vw;
    max-width: 40rem;
    margin: 5rem auto;
  }

  .question {
    background: white;
    margin-bottom: 1.5rem;
    border-radius: 0.5rem;
    padding: 1.5rem 1.5rem 0 1.5rem;
    box-shadow: var(--light-shadow);

    &-title {
      display: flex;
      align-items: center;
      padding-bottom: 1.5rem;
      justify-content: space-between;
    }

    &-text p {
      color: var(--grayish-blue);
      padding: 1rem 0 1.25rem 0;
      border-top: 1px solid #00000033;
    }
  }
}
