@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@500&family=Merriweather:wght@900&display=swap");

body {
  background: #f3f8fd;
}

.staff-container {
  width: 55rem;
  background: white;
  border-radius: 15px;
  margin: 6.5rem auto;
  padding: 3.25rem 4.5rem;

  @media screen and (max-width: 992px) {
    width: 75vw;
  }

  @media screen and (max-width: 680px) {
    width: 85vw;
    padding: 3rem;
    margin: 3.5rem auto;
  }

  @media screen and (max-width: 450px) {
    width: 90vw;
    padding: 2rem;
  }

  h2 {
    font-size: 2rem;
    font-family: "Merriweather", serif;

    @media screen and (max-width: 450px) {
      font-size: 1.5rem;
    }
  }

  .loading {
    margin-top: 3rem;
  }

  .button {
    color: white;
    font-size: 1.1rem;
    background: black;
    border-radius: 0.5rem;
    padding: 0.85rem 1.75rem;
    font-family: "IBM Plex Sans", sans-serif;
  }

  .our-staff {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3rem;
    margin: 2rem auto 3rem;

    @media screen and (max-width: 992px) {
      grid-template-columns: 1fr;
    }

    .staff {
      display: grid;
      grid-template-columns: auto 1fr;
      column-gap: 1.25rem;
      font-family: "IBM Plex Sans", sans-serif;

      &-img {
        width: 100px;
        height: 100px;

        @media screen and (max-width: 450px) {
          width: 75px;
          height: 75px;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      &-info {
        display: grid;
        align-items: center;
      }

      &-name {
        font-size: 1.375rem;
        font-family: "Merriweather", serif;

        @media screen and (max-width: 450px) {
          font-size: 1rem;
        }
      }

      &-social {
        display: flex;
        width: 10.5rem;
        align-items: center;
        justify-content: space-between;

        @media screen and (max-width: 450px) {
          width: 9.5rem;
        }

        p {
          display: flex;
          align-items: center;
          cursor: pointer;

          svg {
            margin-right: 0.25rem;
          }

          &:nth-of-type(1) {
            svg {
              font-size: 1.25rem;
            }
          }

          &:nth-of-type(2) {
            svg {
              font-size: 1.05rem;
            }
          }
        }
      }
    }
  }
}
